.a_tbdr{
    border: 1px Dashed red;
}
.a_mysection{
    /*transform: scale(0.8,0.8);*/
    border: 7px solid #6551C4 !important;
    background-color: #D2F59F;
}
.a_cont{
   /* height: 730px !important;*/
}
.a_33{
    height: 310px !important; 
}
.a_33_c{
    /*background-image: url("../img/hand.png");
   /* background-color: E6FAC6 !important;*/
   /* background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center bottom;
   /* overflow:  hidden !important;*/
   height: 270px !important;
}
.a_33_A{
    height: 150px !important;
}
.a_1{
    width: 50px;
    height: 50px;
    border-style: outset !important;
    background-color: #B8C4ff;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.8);
}
.a_keybord{
    transform: scale(1.03);
}
.a_active{
    transform: translate(2px,2px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8);
}
.a_3{
    height: 730px !important;
}
.a_margine{
    margin-top: 260px !important;
}
.a_circle{
    width: 30px;
    height: 30px;
}
.a_p{
    margin-right: 410px;
    margin-top: 85px;
    display: none;
}
.a_b:hover{
    color: green !important;
}
.a_modal{
    
    margin-bottom: 200px !important;
}
